/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f0f0f0;
}

.badge.badge-super {
  font-size: 50%;
}

.list-group-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > span {
    flex: 1 1 1px; // fit in remaining space
  }
}

.button_to {
  display: inline;
}

.item-editor {
  display: none; // hide initially
  flex: 0 0 100%; // always be full-width
}

textarea.form-control {
  @media (min-width: 768px) {
    height: calc(1.5em + .75rem + 2px); // match bootstrap setting
  }
}

i.done {
  color: #28a745; // green
}

.edit-btn,
.delete-btn {
  opacity: 0.3;
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.btn.edit-btn {
  margin-left: auto; // aligns right
  color: #17a2b8; // blue
}

.btn.delete-btn {
  color: #dc3545; // red
}

.toast-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10; // stay on top
  padding: 15px;
}

.toast {
  position: relative;
  top: 15px; // start low and animate up
  min-width: 200px;
  max-width: 100%;
  animation: fade-in-out 4s 0s 1; // duration delay iterations
}

.toast-body .close {
  line-height: 0.75;
}

.emoji {
  font-size: 1.5em;
  line-height: 0;
  vertical-align: sub;
  margin-right: 0.25rem;
}

@keyframes fade-in-out {
  10% { opacity: 1; top: 0; }
  90% { opacity: 1; top: 0; }
  100% { opacity: 0; top: -15px; }
}
